<!-- eslint-disable @angular-eslint/template/elements-content -->
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
      <button [cModalToggle]="createModal.id" cButton>Add Game</button>
      <div>
        <table cTable>
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            @for (game of games; track $index) {
            <tr>
              <td>
                <img [src]="game.image" alt="Game image" class="w-40 h-40 mx-auto" />
              <td>{{ game.name }}</td>
              <td>
                <div class="flex justify-center gap-4">
                  <button cButton color="primary" [cModalToggle]="editModal.id" (click)="selectGame(game)">Edit</button>
                  <button cButton color="danger" (click)="deleteGame(game.id)">Delete</button>
                </div>
              </td>
            </tr>
            }
            @empty {
            <tr>
              <td colspan="6">No members found</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </c-card-body>
  </c-card>
</c-col>

<c-modal #createModal alignment="center" id="createModal" scrollable>
  <form cForm #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <c-modal-header>
      <h5 cModalTitle>Create Game</h5>
      <button [cModalToggle]="createModal.id" #closeCreateModal cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <div class="mb-3">
        <input id="name" ngModel name="name" placeholder="Name" type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          required />
      </div>
      <div class="flex justify-center items-center w-full">
        <label for="dropzone-file"
          class="flex flex-col justify-center items-center w-full h-32 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer hover:bg-gray-100 ">
          <div class="flex flex-col justify-center items-center pt-5 pb-6">
            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor"
              viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
            </svg>
            <p class="mb-2 text-sm text-gray-500">
              <span class="font-semibold">Click to upload</span>
              or drag and drop
            </p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" name="image" required accept="image/*" cFormControl
            (change)="selectCreateImage($event)">
        </label>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="createModal.id" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" type="submit">Submit</button>
    </c-modal-footer>
  </form>
</c-modal>

<c-modal #editModal alignment="center" id="editModal" scrollable>
  <form cForm #editForm="ngForm" (ngSubmit)="onSubmitEdit(editForm)">
    <c-modal-header>
      <h5 cModalTitle>Edit Game</h5>
      <button [cModalToggle]="editModal.id" #closeEditModal cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <div class="mb-3">
        <input id="name" ngModel name="name" placeholder="Name" type="text" [ngModel]="selectedGame.name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          required />
      </div>
      <div class="flex justify-center items-center w-full">
        <label for="dropzone-file-edit"
          class="flex flex-col justify-center items-center w-full h-32 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer hover:bg-gray-100 ">
          <div class="flex flex-col justify-center items-center pt-5 pb-6">
            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor"
              viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
            </svg>
            <p class="mb-2 text-sm text-gray-500">
              <span class="font-semibold">Click to upload</span>
              or drag and drop
            </p>
          </div>
          <input id="dropzone-file-edit" type="file" class="hidden" name="image" required accept="image/*" cFormControl
            (change)="selectEditImage($event)">
        </label>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="editModal.id" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" type="submit">Submit</button>
    </c-modal-footer>
  </form>
</c-modal>
