<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <label for="countries" class="block mb-2 text-sm font-medium text-white">Select game</label>
    <select id="countries"
        class=" !border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 max-w-64"
        (change)="onGameChange($event)">
        <option value="" selected disabled hidden>Choose game</option>
        @for (game of games; track $index) {
        <option value="{{ game.name }}">{{ game.name }}</option>
        }
    </select>

    <div class="relative overflow-x-auto shadow-primaryy shadow-center sm:rounded-lg mt-3">
        <table class="w-full text-sm text-left rtl:text-right text-gray-400">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Rank
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Username
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Elo
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (gameElo of gameElos; track $index) {
                <tr class="odd:bg-gray-900  even:bg-gray-800 border-b border-gray-700">
                    <td class="px-3 py-2">
                        {{ $index + 1 }}
                    </td>
                    <th scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white">
                        {{ gameElo.username }}
                    </th>
                    <td class="px-3 py-2">
                        {{ gameElo.elo }}
                    </td>
                </tr>
                }
                @empty {
                <tr>
                    <td class="px-6 py-4" colspan="3">
                        No data available
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>