<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-52 xl:w-64 h-screen pt-28 -translate-x-full border-r sm:translate-x-0 bg-gray-900 border-gray-700 transition-all duration-300"
    aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-gray-900">
        <ul class="flex flex-col space-y-4">
            <div class="group relative text-muted-foreground">
                <div class="pointer-events-none absolute m-2 text-muted-foreground/50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        stroke-width="2" class="h-5 w-5" aria-hidden="true">
                        <path
                            d="M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z" />
                    </svg>
                </div>
                <div class="flex h-9 cursor-pointer items-center justify-start rounded hover:bg-card" [routerLink]="'/'" routerLinkActive="active">
                    <a
                        class="ml-10 truncate text-sm font-semibold tracking-wide text-muted-foreground focus:outline-none group-hover:text-foreground">
                        Play
                    </a>
                </div>
                <button
                    class="pointer-events-none absolute top-1 right-0 flex items-center p-1 text-muted-foreground/50 transition-all duration-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </div>

            <div class="group relative text-muted-foreground">
                <div class="pointer-events-none absolute m-2 text-muted-foreground/50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        stroke-width="2" class="h-5 w-5" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z">
                        </path>
                    </svg>
                </div>
                <div class="flex h-9 cursor-pointer items-center justify-start rounded hover:bg-card">
                    <a
                        class="ml-10 truncate text-sm font-semibold tracking-wide text-muted-foreground focus:outline-none group-hover:text-foreground">
                        Auth
                    </a>
                </div>
                <button
                    class="pointer-events-none absolute top-1 right-0 flex items-center p-1 text-muted-foreground/50 transition-all duration-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </div>
        </ul>
    </div>
</aside>